@model WebApp.Models.Admin

@{
    var admin = Model;
}

<div class="container mt-5">
    <h1>Edit an Admin</h1>
    <form asp-controller="Home" asp-action="EditAdmin" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="adminName">Name:</label>
            <input type="text" class="form-control" id="adminName" value="@admin.AdminName" name="AdminName" required />
            <div class="invalid-feedback">
                Please enter the admin name.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="adminEmail">Email:</label>
            <input type="email" class="form-control" id="adminEmail" value="@admin.Email" name="Email" required />
            <div class="invalid-feedback">
                Please enter a valid email address.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="adminPassword">Password:</label>
            <input type="password" class="form-control" id="adminPassword" value="@admin.Password" name="Password" required />
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Save</button>
    </form>
</div>
