html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        overflow-x: hidden;
    }
}



html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #134B70;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size:40px;
    color:#eeeeee;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-size: 35px;
    color: #eeeeee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 6px;
}



.center-container {
    background-color: #fff; 
    border: 2px solid white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 400px; 
    text-align: center; 
}
.container .getStart {
    display: inline-block; 
    width: 50%; 
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}
    .container .getStart:hover {
        background-color: #0056b3;
        transition: 0.8s;
    }
    .center-container .form-control {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
        color: #201E43;
        font-size: 20px;
        font-weight: bolder;
    }

   
    .center-container .btn-primary {
        display: block;
        width: 100%; 
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        background-color: #007bff; 
        color: #fff;
        cursor: pointer;
        transition:  0.3s;
        margin-top: 20px; 
    }

 .center-container .btn-primary:hover
 {
            background-color: #0056b3; 
        }
.center-container .btn-secondary {
        display: block;
        width: 100%; 
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        background-color: #007bff; 
        color: #fff;
        cursor: pointer;
        transition:  0.3s;
        margin-top: 20px; 
    }
.center-container .btn-secondary:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 576px) {
    .center-container {
        padding: 15px; /* Less padding on smaller screens */
    }

        .center-container .form-control {
            max-width: 100%; /* Full width on smaller screens */
        }

        .center-container .btn-primary {
            padding: 12px; /* Larger padding for touch devices */
        }
        .center-container .btn-secondary {
            padding: 12px; /* Larger padding for touch devices */
        }
}

